<!--about-->
<div class="about-w3layouts" id="about">
	<div class="container">
		<div class="tittle-agileinfo">
			<div class="title-wthree">
				<h5 class="title-w3"><span>01</span>About Me</h5>
				<div class="clearfix"></div>
			</div>
			<div class="about-top">
				<h3 class="subheading-agileits-w3layouts">Some words about me</h3>
				<p class="para-agileits-w3layouts">I am highy motivated, efficient and capable developer with withstand vision to provide the clients with the best solutions. </p>
			</div>
		</div>
		<div class="col-md-4 about-left-agileits">
			<div class="services-grids social">
				<a class="fa fa-delicious" aria-hidden="true"></a>
				<p class="para-agileits-w3layouts">Get extensive web solutions.</p>
				<div class="clearfix"></div>
				<h6>Web Development</h6>
			</div>
			<div class="services-grids">
				<a class="fa fa-mobile" aria-hidden="true"></a>
				<p class="para-agileits-w3layouts">Get fast and responsive sites.</p>
				<h6>Web Responsiveness</h6>
			</div>
			<div class="services-grids">
				<a class="fa fa-globe" aria-hidden="true"></a>
				<p class="para-agileits-w3layouts">Developing API's with proper REST and HTTP by keeping the perspective of stability, consistency, flexibility, adobtability and security.</p>
				<h6>API Development</h6>
			</div>
			<div class="services-grids">
				<a class="fa fa-desktop" aria-hidden="true"></a>
				<p class="para-agileits-w3layouts">Integration of Third parties like Google Map, Mobile Push Notifications, Amazon, S3 Storage, Email and many more</p>
				<h6>Web Services</h6>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="col-md-8 about-right">
			<div class="about-border-w3ls">
			</div>
			<div class="person-info-agileits-w3layouts">
				<p class="para-agileits-w3layouts"><span>Hi!, I am Touqeer Ahmad </span>I am technology enthusiast. I have extensive experience with Ruby on Rails, MongoDB, MySQL, Heroku, Amazon EC2, EB CLI, Git, GitHub, Jquery, creating APIs, Google Map Integration, Polygon Construction, Mobile Push Notifications, Action Cable (Sockets), Web Crawlers, Slim/HTML5/CSS3, Bootstrap, Responsive Designs, Twilio etc</p>
				<p>I am involved in most parts of the software life cycle i.e architecture designing, schema designing, and coding.</p>
				<p>I have always provided the product in-time with best quality and still hunting to learn more and to improve my skills.</p>
				<ul>
					<li><span>Name</span>: Touqeer Ahmad</li>
					<li><span>Age</span>: 24 Years</li>
					<li><span>Experience</span>: +2 Years</li>
					<li><span>Email</span>: <a href="mailto:tqr093@gmail.com">tqr093@gmail.com</a></li>
					<li><span>Phone</span>: +92 343 4535019</li>
					<li><span>Address</span>: Lahore, Pakistan</li>
					<li><%= link_to 'Download CV', portfolios_download_cv_path, remote: true, class: "botton-w3ls" %></li>
				</ul>
				<div class="clearfix"></div>

				<div class="pos-w3ls">
					<h4><span class="red-w3ls">Get</span> in touch</h4>
					<div class="button-w3layouts"><a href="#contact" class="scroll">Contact Me</a></div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--//about-->