<div class="contact-agileits-w3layouts" id="contact">
	<div class="tittle-agileinfo col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h5 class="title-w3">
			<span>05</span>
		</h5>
		<h5 class="title-w3">
			<b>Contact Me</b>
		</h5>
	</div>
	<div class="contact-right-wthree">
		<div class="container">
			<div class="address-w3layouts">
				<p class="para-agileits-w3layouts">Always Open to New Ideas, Challenges...</p>
				<h4>
					<a target="_blank" href="mailto:info@example.com">tqr093@gmail.com</a>
					<a class="fa fa-Email" target="_blank" href="mailto:info@example.com"></a>
				</h4>
				<hr style="height: 3px;border:none;width: 185px;background: -webkit-linear-gradient(red, orange);">
				<h6>
					<p style="color: white;">+60-199550994</p>
					<a class="fa fa-Mobile" target="_blank" href="tel:+60199550994"></a>
					<a class="fa fa-Whatsapp" target="_blank" href="https://wa.me/+60199550994"></a>
				</h6>
				<hr style="height: 3px;border:none;width: 185px;background: -webkit-linear-gradient(red, orange);">
				<p class="para-agileits-w3layouts"><strong>Location: </strong> Lahore, Pakistan</p>
			</div>
			<div class="botttom-nav-agileits">
				<div class="w3l-social">
					<ul>
						<li><a href="https://www.linkedin.com/in/touqeer-ahmad/" alt="linkedin touqeer ahmad tqr" target="_blank" class="fa fa-linkedin"></a></li>
						<li><a href="https://www.facebook.com/tqr093" alt="facebook touqeer ahmad tqr" target="_blank" class="fa fa-Facebook"></a></li>
						<li><a href="https://github.com/Touqeer-tqr" alt="github touqeer-tqr" target="_blank" class="fa fa-github"></a></li>
						<li><a href="https://rubygems.org/profiles/touqeer-tqr" alt="rubygems touqeer-tqr" target="_blank" class="fa fa-rubygems"></a></li>
						<li><a href="https://stackoverflow.com/users/7365329/touqeer" alt="stackoverflow touqeer" target="_blank" class="fa fa-stackoverflow"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
