<!-- contact -->
<div class="contact-agileits-w3layouts" id="contact">
	<div class="contact-right-wthree">
		<div class="container">
			<div class="title-wthree">
				<h5 class="title-w3"><span>06</span>Contact Me</h5>
				<div class="clearfix"></div>
			</div>
			<div class="address-w3layouts">
				<p class="para-agileits-w3layouts">Always open to new things</p>
				<h4><a href="mailto:info@example.com">tqr093@gmail.com</a></h4>
				<hr style="height: 3px;border:none;width: 185px;background: -webkit-linear-gradient(red, orange);">
				<h6>+92 343 4535019</h6>
				<p class="para-agileits-w3layouts">Lahore, Pakistan</p>
			</div>
			<div class="botttom-nav-agileits">
				<div class="w3l-social">
					<ul>
						<li><a href="https://www.linkedin.com/in/touqeer-ahmad/" alt="linkedin touqeer ahmad tqr" target="_blank" class="fa fa-linkedin"></a></li>
						<li><a href="https://www.facebook.com/tqr093" alt="facebook touqeer ahmad tqr" target="_blank" class="fa fa-facebook"></a></li>
						<li><a href="https://plus.google.com/u/0/+TouqeerAhmad-tqr" alt="google plus touqeer-ahmad-tqr" target="_blank" class="fa fa-google-plus"></a></li>
					</ul>
				</div>
			</div>
			<div class="clearfix"> </div>

		</div>
	</div>
	<div class="wthree-form">
		<div class="container">
			<div class="col-md-6 contact-form agile_inner_grids">
				<h5 class="title-w3">Say Hello</h5>
				<%= form_tag("portfolios_contact_me_path", method: "post") do %>
					<div class="fields-grid">
						<div class="styled-input">
							<input type="text" name="Full Name" placeholder="Name" required="">
						</div>
						<div class="styled-input">
							<input type="email" name="Email" placeholder="Email" required="">
						</div>
						<div class="styled-input">
							<input type="text" name="Subject" placeholder="Subject" required="">
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="styled-input textarea-grid">
						<textarea name="Message" placeholder="Message" required=""></textarea>
					</div>
					<input type="submit" value="Send">
				<% end %>
			</div>
			<div class="col-md-6 map-w3-agileits">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d435521.26222624135!2d74.07127853383082!3d31.482666530572754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39190483e58107d9%3A0xc23abe6ccc7e2462!2sLahore!5e0!3m2!1sen!2s!4v1514046979569" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //contact -->