<!--education-->
<div class="display-w3lsagile">
	<div class="col-md-7 col-sm-7 edu-img-agileits">
	</div>
	<div class="col-md-5 col-sm-5 display-grid-w3lsagile display-grid-1-w3lsagile">

		<!-- Scrolling-Articles -->
		<div class="activity_box agileits w3layouts">
			<div class="title-wthree">
				<h5 class="title-w3"><span>02</span>Education</h5>
				<div class="clearfix"></div>
			</div>
			<div class="scrollbar agileits w3layouts" id="style-2">
				<div class="activity-row agileits w3layouts">
					<div class="activity-img agileits w3layouts">
						<h6>2012-2016</h6>
					</div>
					<div class="activity-desc agileits w3layouts">
						<h5>University of Central Punjab</h5>
						<p class="para-agileits-w3layouts">Graduated in BSCS and have done various projects including different technologies and frameworks like Web Development, Windows Phone SDK 8.0, Compiler Construction, Image Recognition Open-CV, Arduino-UNO, STM32F102RB.</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="activity-row agileits w3layouts">
					<div class="activity-img agileits w3layouts">
						<h6>2010-2012</h6>
					</div>
					<div class="activity-desc agileits w3layouts">
						<h5>Punjab College</h5>
						<p class="para-agileits-w3layouts">Done Intermediate in Computer Science.</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- //Scrolling-Articles -->

	</div>
	<div class="clearfix"></div>
</div>
<!--//education-->