<div id="education">
	<div class="tittle-agileinfo col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h5 class="title-w3">
			<span>03</span>
		</h5>
		<h5 class="title-w3">
			<b>Education</b>
		</h5>
	</div>
	<br>
	<div class="grey-text-style second-block col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="second-block-inner">
			<div class="agileits w3layouts">
				<div class="agileits w3layouts">
					<div class="activity-img agileits w3layouts">
						<h6>2012<br>.<br>.<br>.<br>2016</h6>
					</div>
					<div class="activity-desc agileits w3layouts">
						<h5>University of Central Punjab</h5>
						<p class="para-agileits-w3layouts">Graduated in BSCS and have done various projects in different technologies & frameworks like Windows Phone SDK 8.0, Compiler Construction, Image Recognition Open-CV, Arduino-UNO, STM32F102RB...</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="agileits w3layouts">
					<div class="activity-img agileits w3layouts">
						<h6>2010<br>.<br>.<br>.<br>2012</h6>
					</div>
					<div class="activity-desc agileits w3layouts">
						<h5>Punjab College</h5>
						<p class="para-agileits-w3layouts">Done Intermediate in Computer Science.</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>
