<!--experience-->
<div class="display-w3lsagile">
	<div class="col-md-7 col-sm-7 exp-img-agileits">
	</div>
	<div class="col-md-5 col-sm-5 display-grid-w3lsagile display-grid-1-w3lsagile">

		<!-- Scrolling-Articles -->
		<div class="activity_box agileits w3layouts">
			<div class="title-wthree work_box">
				<h5 class="title-w3"><span>03</span>Work Experience</h5>
				<div class="clearfix"></div>
			</div>
			<div class="scrollbar agileits w3layouts" id="style-1">
				<div class="activity-row agileits w3layouts">
					<div class="activity-img agileits w3layouts">
						<h6>2016-2017</h6>
					</div>
					<div class="activity-desc agileits w3layouts">
						<h5>Novatore Solutions</h5>
						<p class="para-agileits-w3layouts">Collaboration with designer to create clean, simple and intuitive interface, mobile team to create APIs and seniors with improve knowledge. Experience with Agile methodology (Daily Sprint Meetings) and Version Control System with GIT.</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- //Scrolling-Articles -->

	</div>
	<div class="clearfix"></div>
</div>
<!--//experience-->
