<!--experience-->
<div class="display-w3lsagile">
	<div class="col-md-7 col-sm-7 exp-img-agileits">
	</div>
	<div class="col-md-5 col-sm-5 display-grid-w3lsagile display-grid-1-w3lsagile">

		<!-- Scrolling-Articles -->
		<div class="activity_box agileits w3layouts">
			<div class="title-wthree work_box">
				<h5 class="title-w3"><span>03</span>Work Experience</h5>
				<div class="clearfix"></div>
			</div>
			<div class="scrollbar agileits w3layouts" id="style-1">
				<div class="activity-row agileits w3layouts">
					<div class="activity-img agileits w3layouts">
						<h6>Present<br>.<br>.<br>.<br>Jun 2018</h6>
					</div>
					<div class="activity-desc agileits w3layouts">
						<h5>Aldaim Solutions</h5>
						<p class="para-agileits-w3layouts">Being a Part of Major Development Lifcyle, Technical Team Lead in multiple projects, Training & Giving Guidance to Juniors, Handled tough situations...</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="activity-row agileits w3layouts">
					<div class="activity-img agileits w3layouts">
						<h6>Jan 2018<br>.<br>.<br>.<br>Dec 2016</h6>
					</div>
					<div class="activity-desc agileits w3layouts">
						<h5>Novatore Solutions</h5>
						<p class="para-agileits-w3layouts">Collaboration with <strong>Designer</strong> to create clean, simple and intuitive interface, <strong>Mobile Team</strong> to create APIs under the guidance of Experienced Mentors. Experience with Agile methodology (Daily Sprint Meetings) and Version Control System with GIT.</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- //Scrolling-Articles -->

	</div>
	<div class="clearfix"></div>
</div>
<!--//experience-->
