<div id="experience">
	<div class="tittle-agileinfo col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h5 class="title-w3">
			<span>04</span>
		</h5>
		<h5 class="title-w3">
			<b>Experience</b>
		</h5>
	</div>
	<br>
	<div class="grey-text-style second-block col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="second-block-inner">
			<div class="agileits w3layouts">
				<div class="activity-row agileits w3layouts">
					<div class="activity-img agileits w3layouts">
						<h6>Present<br>.<br>.<br>.<br>Jun 2019</h6>
					</div>
					<div class="activity-desc agileits w3layouts">
						<h5>Finology Sdn Bhd.</h5>
						<p class="para-agileits-w3layouts">Working A Malaysian Fintech company driving change in the banking, property, and insurance industries worldwide.<br>Ruby on Rails | AWS | Full Stack | DevOps</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="activity-row agileits w3layouts">
					<div class="activity-img agileits w3layouts">
						<h6>Jun 2019<br>.<br>.<br>.<br>May 2018</h6>
					</div>
					<div class="activity-desc agileits w3layouts">
						<h5>ADS - Aldaim Solutions</h5>
						<p class="para-agileits-w3layouts">Being a Part of Major Development Lifcyle, Technical Team Lead in multiple projects, Training & Giving Guidance to Juniors, Handled tough situations...</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="activity-row agileits w3layouts">
					<div class="activity-img agileits w3layouts">
						<h6>Jan 2018<br>.<br>.<br>.<br>Dec 2016</h6>
					</div>
					<div class="activity-desc agileits w3layouts">
						<h5>Novatore Solutions</h5>
						<p class="para-agileits-w3layouts">Collaboration with <strong>Designer</strong> to create clean, simple and intuitive interface, <strong>Mobile Team</strong> to create APIs under the guidance of Experienced Mentors. Experience with Agile methodology (Daily Sprint Meetings) and Version Control System with GIT.</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>