<!-- portfolio -->
<div class="gallery myportfolio" id="portfolio">
	<div class="title-wthree">
		<h5 class="title-w3"><span>05</span>Portfolio</h5>
		<div class="clearfix"></div>
	</div>
	<p class="text-center slideanim">My Recent Projects , Just "Click" on them to know More.</p>
	<section class="vertical" id="grid3d">
		<div class="grid-wrap">
			<div class="grid">
				<h3>Professional</h3>
				<div class="col-xs-12">
					<% @profesional_projects.each do |project| %>
						<figure><%= image_tag project[:images][0], class: "slideanim" %></figure>
					<% end %>
				</div>
				<h3>Personal</h3>
				<div class="col-xs-12">
					<% @personal_projects.each do |project| %>
						<figure><%= image_tag project[:images][0], class: "slideanim" %></figure>
					<% end %>
				</div>
			</div>
		</div><!-- /grid-wrap -->
		<div class="content">
			<% @profesional_projects.each do |project| %>
				<%= render partial: 'portfolios/project', locals: {project: project} %>
			<% end %>
			<% @personal_projects.each do |project| %>
				<%= render partial: 'portfolios/project', locals: {project: project} %>
			<% end %>
			<span class="loading"></span>
			<span class="icon close-content"><i class="fa fa-times-circle-o"></i></span>
		</div>
	</section>
</div>
<!-- //portfolio -->