<div id="skills">
  <div class="tittle-agileinfo col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h5 class="title-w3">
      <span>01</span>
      <b>Skills</b>
    </h5>
  </div>
  <br>
  <div class="grey-text-style second-block col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="skills-details col-sm-12">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="services-grids">
          <a class="fa fa-mobile" aria-hidden="true"></a>
          <p class="para-agileits-w3layouts">Ruby on Rails, Javascript, JQuery, Slim/HTML5, CSS3/SCSS, Bootstrap (3, 4, 5), ReactJS, NextJS, Action Cable (Sockets), Web Crawlers/Web Scrappers</p>
          <h6>Programing Skills</h6>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="services-grids">
          <a class="fa fa-mobile" aria-hidden="true"></a>
          <p class="para-agileits-w3layouts">MongoDB, Postgres, MySQL, Caching System (Redis)</p>
          <h6>Database</h6>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="services-grids social">
          <a class="fa fa-delicious" aria-hidden="true"></a>
          <p class="para-agileits-w3layouts">Extensive web solutions.<br>Fast, Responsive, User Friendly sites with proper SEO and Cross Browser Compatibility...</p>
          <div class="clearfix"></div>
          <h6>Web Development / Frontend</h6>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="services-grids">
          <a class="fa fa-mobile" aria-hidden="true"></a>
          <p class="para-agileits-w3layouts">Developing API's with proper REST and HTTP protocols by keeping the perspective of stability, consistency, flexibility, adaptability and security...</p>
          <h6>API Development</h6>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="services-grids">
          <a class="fa fa-globe" aria-hidden="true"></a>
          <p class="para-agileits-w3layouts">Payment(Stripe, Payfort, EGHL, iPay88), Google Adsense, Google Map Integration, Polygon Construction,, Email-Service (Sendgrid, Gmail, Mailchimp), Twillio, Firebase(Firechat, Mobile & Browser Push Notifications), Bitly, StrAPIs...</p>
          <h6>Third Party Services</h6>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="services-grids">
          <a class="fa fa-desktop" aria-hidden="true"></a>
          <p class="para-agileits-w3layouts">Heroku, Linode, AWS (Amazon Web Services), Docker, Kubernetes (K8s), CI/CD, Git, Gitea/Gitlab, nginx...</p>
          <h6>DevOps</h6>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="services-grids">
          <a class="fa fa-desktop" aria-hidden="true"></a>
          <p class="para-agileits-w3layouts">Elastic Beanstalk, EC2, EB CLI, Scheduled Volumn Backup (AMI), RDS with autobackup, Lambda Functions, IAM Roles, S3 with versioning, S3fs, Glacier, CloudWatch, CloudFront, VPN, VPC, Elastic Load Balancer, Auto Scaling, Security-Groups...</p>
          <h6>AWS</h6>
        </div>
      </div>
    </div>
  </div>
</div>
