<!-- awards and skills -->
<div class="awards-bg-agile about skills" id="skills" style="padding: 2.5em 0 0 0;">
	<div class="title-wthree">
		<h5 class="title-w3" style="margin-bottom: 0;"><span>04</span>Skills</h5>
		<div class="clearfix"></div>
	</div>>
	<div class="container">
		<div class="skill-agileinfo">
			<div class="skill-grids">
				<div class="col-md-4 col-sm-4 skills-w3lsleft">
					<h3>Experience With Gems</h3>
					<div class="col-xs-6" >
						<ul>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Devise</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Tiddle</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Slim</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Sendgrid-rails</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Byebug</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Web-console</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Turbolinks</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Jbuilder</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Twilio-Ruby</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Kaminari</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Will_paginate</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Geocoder</li>
						</ul>
					</div>
					<div class="col-xs-6" >
						<ul>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Geokit</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Gmaps4rails</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Paperclip</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Carrierwave</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>FCM</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Spawnling</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Delayed_job_</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>_active_record</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Ckeditor</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Rails-erd</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Nokogiri</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>redis</li>
						</ul>
					</div>
				</div>
				<div class="col-md-8 col-sm-8 skills-w3lsright">
					<h3>Technical Skills</h3>
					<div class="skillbar" data-percent="94">
						<span class="skillbar-title" style="background:#A90000;">Ruby</span>
						<p class="skillbar-bar" style="background: #D40000;"></p>
						<span class="skill-bar-percent"></span>
					</div>
					<!-- End Skill Bar --> 
					<div class="skillbar" data-percent="96">
						<span class="skillbar-title" style="background:#6f0300;">Ruby on Rails</span>
						<p class="skillbar-bar" style="background: #a70000;"></p>
						<span class="skill-bar-percent"></span>
					</div>
					<!-- End Skill Bar -->   
					<div class="skillbar" data-percent="94">
						<span class="skillbar-title" style="background:#565656;">Active Record</span>
						<p class="skillbar-bar" style="background: #949494;"></p>
						<span class="skill-bar-percent"></span>
					</div>
					<!-- End Skill Bar -->   
					<div class="skillbar" data-percent="96">
						<span class="skillbar-title" style="background:#067D99;">API Json</span>
						<p class="skillbar-bar" style="background: #3e94a9;"></p>
						<span class="skill-bar-percent"></span>
					</div>
					<!-- End Skill Bar -->   
					<div class="skillbar" data-percent="98">
						<span class="skillbar-title" style="background:#E93E00;">HTML5/Slim/HAML</span>
						<p class="skillbar-bar" style="background: #F55E00;"></p>
						<span class="skill-bar-percent"></span>
					</div>
					<!-- End Skill Bar --> 
					<div class="skillbar" data-percent="99">
						<span class="skillbar-title" style="background:#2D50BC;">CSS3/SASS</span>
						<p class="skillbar-bar" style="background:#3499E3;"></p>
						<span class="skill-bar-percent"></span>
					</div>
					<!-- End Skill Bar --> 
					<div class="skillbar" data-percent="92">
						<span class="skillbar-title" style="background:#807d7d;">jQuery</span>
						<p class="skillbar-bar" style="background:#A8A7A8;"></p>
						<span class="skill-bar-percent"></span>
					</div>
					<!-- End Skill Bar -->
					<div class="skillbar" data-percent="90">
						<span class="skillbar-title" style="background:#5D3F28;">Database</span>
						<p class="skillbar-bar" style="background:#9a6c48;text-align: center;"><span style="width: 88%;color: whitesmoke;text-align: center;font-weight: bold;font-size: 11px;">MySQL / Postgres / MongoDB</span></p>
						<span class="skill-bar-percent"></span>
					</div>
					<!-- End Skill Bar -->
					<div class="skillbar" data-percent="98">
						<span class="skillbar-title" style="background:#ff5858;">Git</span>
						<p class="skillbar-bar" style="background:#ff8080;"></p>
						<span class="skill-bar-percent"></span>
					</div>
					<!-- End Skill Bar --> 
				</div>
				<div class="clearfix"></div>
			</div> 
		</div> 
	</div>
	<!-- //skills -->
</div>
<!-- //awards and skills -->
<!-- language -->
<div class="language-skills">
	<div class="container">
		<div class="col-md-6 lang-left-w3-agile">
			<div class="title-wthree">
				<h5 class="title-w3">Language Skills</h5>
				<div class="clearfix"></div>
			</div>
			<p class="para-agileits-w3layouts">Feel free to contact me in any language appropriate for you.</p>
		</div>
		<div class="col-md-6 w3l_about_bottom_grid_right bar-grids">
			<h6>English<span> 100% </span></h6>
			<div class="progress">
				<div class="progress-bar progress-bar-striped active" style="width: 100%">
				</div>
			</div>
			<div class="mid-bar">
				<h6>Urdu<span> 100% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 100%">
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- //language -->
