<!-- Footer -->
<div class="copyright-wthree">
	<div class="container">
		<p>&copy; 2017 Portfolio . All Rights Reserved | Modified by <a href=""> Touqeer Ahmad </a></p>
	</div>
</div>
<!-- //Footer -->
