<!-- Footer -->
<div class="copyright-wthree">
	<div class="container">
		<p>&copy; <%= Date.today.year %> Portfolio . All Rights Reserved | <a target="_blank" href="https://www.linkedin.com/in/touqeer-ahmad/"> Touqeer Ahmad</a> <a href="https://www.linkedin.com/in/touqeer-ahmad/" alt="linkedin touqeer-ahmad-tqr" target="_blank" class="fa fa-linkedin"></a></p>
	</div>
</div>
<!-- //Footer -->
