<!-- Footer -->
<div class="copyright-wthree">
	<div class="container">
		<p>&copy; 2017 Portfolio . All Rights Reserved | <a target="_blank" href="https://www.linkedin.com/in/touqeer-ahmad/"> Touqeer Ahmad </a></p>
	</div>
</div>
<!-- //Footer -->
